.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  max-width: 100%;
}

.App-link {
  color: #61dafb;
}



body {
  font-family: Roboto; 
  font-size: 0.8rem; 
  line-height: 1rem; 
  font-weight: 500; 
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.menu-card {
  box-shadow: 5px 0px 15px -3px #000000; /* Agrega la sombra a las cajas */
  border-radius: 4px; /* Redondea el borde */
  min-width: 250px;
  margin: 10px;
  overflow: hidden; /* Averiguar qué es */
  transition: width 0.5s; /* Averiguar qué es */
  width: 20%;
}

.review-card {
  box-shadow: 5px 0px 15px -3px #000000; /* Agrega la sombra a las cajas */
  border-radius: 4px; /* Redondea el borde */
  min-width: 300px;
  padding: 1cm;
  margin: 10px;
  overflow: hidden; /* Averiguar qué es */
  transition: width 0.5s; /* Averiguar qué es */
  width: 20%;
}

.video-thumbnail {
  max-height: auto;
  max-width: 100%;
  /* Queremos que la imagen ocupe el 100% del espacio del padre, y que el alto se ajuste proporcionalmente */
}

.menu-info {
  color: #909090;
  padding: 0 12px 6px 12px;
  
}

.menu-name {
  color: #030303;

}

.menu-link {
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
